<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Personal.Name }} - Currículo</title>
    <link rel="stylesheet" href="style-template.css">
</head>

<body>
    <h1>{{ .Personal.Name }}</h1>
    
    {{ if .Job }}
    <h2>{{ .Job.Title }} - {{ .Job.Organization }}</h2>
    {{ end }}

    <h3>Contato</h3>
    <ul>
        <li>{{ .Contact.Email }}</li>
        <li>{{ .Contact.Phone }}</li>
        <li>{{ .Contact.LinkedIn }}</li>
        {{ range $website := .Contact.Websites }}
        <li>{{ $website }}</li>
        {{ end }}
    </ul>

    <h2>Principais skills</h2>
    <ul>
        {{ range $skill := .Hardskills }}
        <li>{{ $skill }}</li>
        {{ end }}
    </ul>

    <h2>Resumo</h2>
    <p>{{ .About.Greeting }}</p>
    <p>{{ .About.Objective }}</p>
    <p>{{ .About.Experience }}</p>
    <p>{{ .About.Technical }}</p>
    <p>{{ .About.NonTechnical }}</p>
    <p>{{ .About.Other }}</p>

    <h2>Idiomas</h2>
    <ul>
        {{ range $lang := .Languages }}
        <li>{{ $lang }}</li>
        {{ end  }}
    </ul>

    <h2>Histórico profissional</h2>
    <ul>
        {{ range $work := .WorkHistory }}
        <li>
            <h3>{{ $work.StartDate }} - {{ $work.EndDate }} | {{ $work.Job }} |
                {{ $work.Company }}</h3>
            <p>{{ $work.Description }}</p>
            <h4>Principal resultado:</h4>
            <p>{{ $work.Results }}</p>
        </li>
        {{ end }}
    </ul>

    <h2>Formação</h2>
    <ul>
        {{ range $edu := .Education }}
        <li>{{ $edu }}</li>
        {{ end }}
    </ul>

    <h2>Outras formações</h2>
    <ul>
        {{ range $cert := .Certifications }}
        <li>
            <a href="{{ $cert.Link }}">{{ $cert.Src }}</a>
        </li>
        {{ end }}
    </ul>

    <h2>Outros interesses</h2>
    <ul>
        {{ range $interest := .OtherInterests }}
        <li>{{ $interest }}</li>
        {{ end }}
    </ul>
</body>

</html>