body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 720px;
    margin: auto;
    background: var(--w);
    padding: 16px 16px 16px 16px;
    --w: #EDF7F6;
    --a1: #749C75;
    --a2: #35ff69;
    --m1: #2660A4;
    --m2: #342a21;
}

h1 {
    font-size: 48px;
    color: var(--a1);
    text-align:center;
    margin-bottom:16px;
}

h2 {
    color: var(--m1);
    overflow: hidden;
}

h2:before {
    content: "";
    display: inline-block;
    margin-right:1%;
    width: 16%;
    height: 8px;
    background-color: var(--m1);
}

h2:after {
    content: "";
    display: inline-block;
    margin-left:1%;
    margin-right: -100%;
    width: 100%;
    height: 8px;
    background-color: var(--m1);
}

a {
    text-decoration: none;
    color: var(--a1);
}

a:hover, a:active {
    background-color: var(--a2);
    color: var(--w);
    text-decoration: none;
    text-shadow: 1px 1px 1px var(--m2);
}

p {
    margin-top:0;
    margin-bottom:7px;
}

ul {
    list-style: none;
}

h3 {
    font-style: italic;
}